SECRET_KEY=django-insecure-1234
DEBUG=True

DB_NAME=vkdesk
DB_USER=postgres
DB_PASSWORD=1234567
DB_HOST=localhost
DB_PORT=5432
DB_ENGINE="django.db.backends.postgresql"
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CACHE_DB=1
REDIS_BROKER_DB=2
REDIS_BEAT_DB=3

CENTRIFUGO_URL=http://localhost:8001
CENTRIFUGO_API_KEY=replace_me

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=1025
DEFAULT_FROM_EMAIL=webmaster@localhost