{% extends 'core/layout/base.html' %}
{% load static %}

{% block content %}

<div class="main-title">
    <h1>Ask a Question</h1>
</div>
<form class="form" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="form-row">
        <label>Title</label>
        {{ form.title }}
        {{ form.title.errors }}
    </div>

    <div class="form-row">
        <label>Text</label>
        {{ form.body }}
        {{ form.body.errors }}
    </div>

    <div class="form-row">
        <label>Tags</label>
        {{ form.tags }}
        {{ form.tags.errors }}
    </div>

    <button class="button" type="submit">ASK IT</button>
</form>
{% endblock %}
