{% extends 'core/layout/base.html' %}
{% load static %}

{% block content %}


<div class="main-title">
    <h1>Sign In</h1>
</div>

<p class="error">Sorry, wrong password!</p>

<form class="form">
    <div class="form-row">
        <label for="login">Login</label>
        <input id="login" type="text" placeholder="Enter your login here">
    </div>
    <div class="form-row">
        <label for="password">Password</label>
        <input id="password" type="password" value="********">
    </div>
    <div>
        <button class="button" type="button">Sign In!</button>
    </div>
    <a href="signup">create new account</a>
</form>


{% endblock %}


