{% extends 'core/layout/base.html' %}
{% load static %}

{% block content %}

<div class="main-title">
    <h1>Create Account</h1>
</div>

<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="form-row">
        <label>Login</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>

    <div class="form-row">
        <label>Email</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>

    <div class="form-row">
        <label>NickName</label>
        {{ form.nickname }}
        {{ form.nickname.errors }}
    </div>

    <div class="form-row">
        <label>Password</label>
        {{ form.password }}
        {{ form.password.errors }}
    </div>

    <div class="form-row">
        <label>Repeat password</label>
        {{ form.password_repeat }}
        {{ form.password_repeat.errors }}
    </div>

    <div class="form-row">
        <label>Avatar</label>
        {{ form.avatar }}
        {{ form.avatar.errors }}
    </div>

    <div>
        <button class="button" type="submit">Register!</button>
    </div>
</form>
{% endblock %}




