{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VkDesk | Fresh Questions</title>
    <meta name="description" content="VkDesk Q&A">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>
    <header class="site-header">
        <div class="logo">VkDesk</div>
        <form class="search">
            <input type="text" placeholder="Search">
            <a class="button button--ask" href="ask">ASK IT</a>
        </form>
        <div class="user-block">
            <div class="avatar-box small">avatar</div>
            <div class="user-links">
                <a href="profile" class="user-name">Dr. Pepper</a>
                <div>
                    <a href="profile">settings</a>
                    <a href="login">log out</a>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <aside class="sidebar">
            <div class="sidebar-section">
                <h2>Trending Tags</h2>
                <div class="tag-cloud">
                    <span>perl</span>
                    <span class="tag-red">python</span>
                    <span>TechnoPark</span>
                    <span class="tag-red">MySQL</span>
                    <span class="tag-green">django</span>
                    <span>Mail.Ru</span>
                    <span>Voloshin</span>
                    <span class="tag-orange">Firefox</span>
                </div>
            </div>

            <div class="sidebar-section">
                <h2>Top Members</h2>
                <div class="member-list">
                    <a href="#">Mr. Freeman</a>
                    <a href="#">Dr. House</a>
                    <a href="#">Bender</a>
                    <a href="#">Queen Victoria</a>
                    <a href="#">V. Pupkin</a>
                </div>
            </div>
        </aside>
    </div>
    <footer class="footer">2026</footer>
</body>
</html>






