
<article class="card">
    <div>
        <div class="avatar-box">avatar</div>
        <div class="vote-box">
            <span>5</span>
            <span class="vote-arrows">^</span>
        </div>
    </div>
    <div>
        <p class="question-title" href="question">{{ question.title }}</p>
        <p>{{ question.text }}</p>
        <div class="meta">
            <a href="question">answer (3)</a>
            <span>Tags:</span>
            <a class="tag" href="#">black-jack</a>
            <a class="tag" href="#">bender</a>
        </div>
    </div>
</article>
