
<article class="card">
    <div>
        <div class="avatar-box">avatar</div>
        <div class="vote-box">
            <span>5</span>
            <span class="vote-arrows">^</span>
        </div>
    </div>
    <div>
        <a class="question-title" href="question">{{ question.title }}</a>
        <p>{{ question.text }}</p>
        <div class="meta">
            <a href="question">answer (3)</a>
            <span>Tags:</span>
            {% for tag in question.tags %}
            <a class="tag" href="/?tag={{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
</article>
